<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckdev.absenpegawai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apksaya"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/apksaya"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbsenPegawai">
        <activity
            android:name=".Second"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>